@model PC.medicalPrescription
@{
    ViewBag.Title = "ConvertMedicalPrescription";
}
<h2>ConvertMedicalPrescription</h2>

<div>
    <div class="form-group">
        @Html.LabelFor(model => model.idmedicalPrescription, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.idmedicalPrescription, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.idmedicalPrescription, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Convert to PDF" class="btn btn-default" />
        </div>
    </div>
</div>
